<div class="container px-6 mx-auto">
    <h1 class="my-6 text-2xl font-semibold">{{name}}'s Dashboard</h1>
    
    {{#if stories}}
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr >
                        <th>Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y">
                    {{#each stories}}
                    <tr>
                        <td><a class="font-semibold" href="/stories/{{_id}}">{{title}}</a></td>
                        <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                        <td>
                            <span class="badge badge-ghost">
                                {{status}}
                            </span>
                        </td>
                        <td class="px-4 py-3">
                            <div class="flex items-center space-x-4 text-sm">
                                <a class="flex items-center justify-between px-2 py-2 text-sm text-primary" href="/stories/edit/{{_id}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="flex items-center justify-between px-2 py-2 text-sm text-accent">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <p>You have not created any stories.</p>
    {{/if}}
</div>