<div class="bg-white max-w-4xl mx-auto card my-5 lg:card-side bg-base-100 shadow-xl">
    <div class="card-body">
        <h1 class="card-title">Edit Story</h1>
        <form action="/stories/{{story._id}}" method="POST" class="col s12">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-control">
                <label class="label" for="title">
                    <span class="label-text">Story Title</span>
                </label>
                <input name="title" id="title" type="title" class="input input-bordered" value="{{story.title}}">
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Status</span>
                </label>
                <div class="form-control flex-row">
                    <label class="label cursor-pointer inline-flex">
                        <input type="radio" class="radio" name="status" value="public" {{setChecked 'public' story.status}}>
                        <span class="label-text pl-2">Public</span>
                    </label>
                    <label class="label cursor-pointer inline-flex">
                        <input type="radio" class="radio" name="status" value="private" {{setChecked 'private' story.status}}>
                        <span class="label-text pl-2">Private</span>
                    </label>
                </div>
            </div>
            <div class="form-control">
                <h5 class="block text-gray-700 text-sm font-bold my-2">Tell Us Your Story</h5>
                <textarea id="body" name="body" class="textarea textarea-bordered">{{story.body}}</textarea>
            </div>

            <div class="flex items-center gap-3 py-5">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="/dashboard" class="btn btn-accent">Cancel</a>
            </div>
        </form>
    </div>
</div>